<div class="row">
  <div class="col-12">
    <img src="https://placehold.it/1100x300" alt="">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>About Us</h1>
    <p>Originally established in 1985 by D.D.S. Enrique Jimenez and now located in Los Algodones, Mexico, Sani Dental Group has become one of the most prestigious dental clinics in Mexico. Throughout the years, Sani Dental Group has acquired vast
      experience and our staff members have perfected their skills in each of their individual dental fields.</p>
    <p>Sani Dental Group offers you a wide range of specialists, because we believe that your dental needs should be treated by the best dentists in town. That’s why our doctors have specialized in Laser dentistry, Oral Surgery, Dental Implantology,
      Cosmetic Dentistry, Endodontics, Periodontics, Health services administration, among other dental treatments you may need. When visiting our clinic, your dental treatment can be performed by one, two, three, or more doctors.</p>
    <p>
      <h3>“Make your smile great again”</h3>
    </p>
    <p>Whether you need a complex or a simple surgery, Sani Dental Group is here to take care of your needs. With more than 30 dentists and experience ranging from 5 to 30 years, we guarantee that we have the professional dentist you need. Also, our
      facilities have earned multiple awards (MTA, ADA, etc.), and our staff members are constantly updating their skills.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>What they say about us</p>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-9">
        <p>Anne H.</p>
        <p>*****</p>
        <p>"Great service. Extremely friendly and knowledgeable staff. Was recommended by a family member and was thoroughly impressed."</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-9">
        <p>James F.</p>
        <p>*****</p>
        <p>"I'm usually very anxious when attending the dentist. Dr. Ricardo and staff made me feel very comfortable. I had a painless experience in a very clean environment. Dr. Ricardo is a great dentist who was very informative of the work I needed to be
          done. I had 2 fillings a clean and crown done over a few visits and couldn't be happier. I would definitely recommend I Love My Dentist to friends and family."</p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-9">
        <p>Ellen T.</p>
        <p>*****</p>
        <p>“Dr. Guevara and staff are extremely kind and comprehensive. The office is beautiful, clean, and on a main street with all sorts of good food and shopping. The best cleaning and dental appointment that I have had in my life. I will be making them
          my regular dentist office, and recommending to all of my friends and family."</p>
      </div>
    </div>
  </div>
</div>
<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputname">Name</label>
      <input type="Name" class="form-control" id="inputname" placeholder="Name">
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-3">
      <label for="inputdate">Date</label>
      <input type="Date" class="form-control" id="inputdate" placeholder="Date">
    </div>
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary">Now</button>
    </form>
  </div>
</div>
