<div class="row">
  <div class="col-12">
    <img src="https://placehold.it/1100x300" alt="">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h2>About Us</h2>
    <p>Originally established in 1985 by D.D.S. Enrique Jimenez and now located in Los Algodones, Mexico, Sani Dental Group has become one of the most prestigious dental clinics in Mexico. Throughout the years, Sani Dental Group has acquired vast
      experience and our staff members have perfected their skills in each of their individual dental fields.</p>
    <p>Sani Dental Group offers you a wide range of specialists, because we believe that your dental needs should be treated by the best dentists in town. That’s why our doctors have specialized in Laser dentistry, Oral Surgery, Dental Implantology,
      Cosmetic Dentistry, Endodontics, Periodontics, Health services administration, among other dental treatments you may need. When visiting our clinic, your dental treatment can be performed by one, two, three, or more doctors.</p>
    <p>
      <h5>“Make your smile great again”</h5>
    </p>
    <p>Whether you need a complex or a simple surgery, Sani Dental Group is here to take care of your needs. With more than 30 dentists and experience ranging from 5 to 30 years, we guarantee that we have the professional dentist you need. Also, our
      facilities have earned multiple awards (MTA, ADA, etc.), and our staff members are constantly updating their skills.</p>
  </div>
</div>

<%= render 'website/partials/testimonials' %>

<%= render 'website/partials/schedule_now' %>
