<div class="container">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <p>Contact Us</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p>Get A Free Quote</p>
      <p>Over 100+ Americans Trust Us</p>
        <%= render 'website/partials/talk_with_us' %>
      </div>
    <div class="col-4">
      <%= render 'website/partials/working_hours' %>
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_footer' %>
    </div>
  </div>
</div>
