<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <p>Ave. Revolución #868,Tijuana, B.C. México, 22000</p>
        <p>+52 (664) 123-4567</p>
        <p>+1 (619) 123-4567</p>
        <p>info@tijuanasmiledentistry.com</p>
      </div>
      <div class="col-8">
        <p>MAPS</p>
      </div>
    </div>
  </div>
</div>
<!-- TODO: convert to component -->
<div class="form-row">
  <div class="col-8">
    <h2>
      <p>Contact Us</p>
    </h2>
    <div class="col-sm">
      <form class="needs-validation" novalidate="">
        <label for="email">Name</label>
        <input type="name" class="form-control" id="name" placeholder="">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="you@example.com" required="">
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
        <label for="address2">Phone Number</label>
        <input type="phone" class="form-control" id="phone" placeholder="(619)000-0000">
        <label for="Message">Message</label>
        <input type="Message" class="form-control" id="Message" placeholder="Your message">
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Now</button>
      </form>
    </div>
  </div>
  <!-- TODO: convert to component -->
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        Working Hours
      </div>
      <div class="col-4">
        <ul>
          <li>Monday</li>
          <li>Tuesday</li>
          <li>Wednesday</li>
          <li>Thursday</li>
          <li>Friday</li>
          <li>Saturday</li>
          <li>Sunday</li>
        </ul>
      </div>
      <div class="col-8">
        <ul>
          <li>9:00AM - 5:00PM</li>
          <li>9:00AM - 5:00PM</li>
          <li>9:00AM - 5:00PM</li>
          <li>9:00AM - 5:00PM</li>
          <li>9:00AM - 5:00PM</li>
          <li>9:00AM - 5:00PM</li>
          <li>9:00AM - 5:00PM</li>
        </ul>
      </div>
      <div class="col-12">
        <ul>
          <li>+52 (664) 123-4567</li>
          <li>+1 (619) 123-4567</li>
        </div>
        <div class="col-12">
          <ul>
            <li>info@tijuanasmiledentistry.com</li>
          </div>
        </div>
      </div>
    </div>
<div class="row">
  <div class"col-4"="class" col-4""="col-4""">
    <img src="https://placehold.it/300x200" alt="">
  </div>
  <div class"col-4"="class" col-4""="col-4""">
    <img src="https://placehold.it/300x200" alt="">
  </div>
  <div class"col-4"="class" col-4""="col-4""">
    <img src="https://placehold.it/300x200" alt="">
  </div>
</div>
