<div class="row">
  <div class="col-7">
    <iframe src="https://www.youtube.com/embed/UQZGz7HSD7M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <div class="col-5">
    <%= render 'website/partials/talk_with_us' %>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <h2>Featured in</h2>
      <img class="mb-2" src="./assets/featured.png" alt="" width="600" height="142">
      <h2>Our Clients</h2>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <img src="./assets/person1.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-3">
    <img src="./assets/person2.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-3">
    <img src="./assets/person3.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-3">
    <img src="./assets/person4.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Before and After</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <img src="https://placehold.it/400x300" alt="">
        <p>Before</p>
      </div>
      <div class="col-6">
        <img src="https://placehold.it/400x300" alt="">
        <p>After</p>
      </div>
    </div>
  </div>
</div>

<!-- TODO: convert to component -->
<%= render 'website/partials/schedule_now' %>

<!-- todo: convert to component -->
<div class="form-row">
<div class="col-8">
  <%= render 'website/partials/talk_with_us' %>
</div>
<div class="col-4">
  <div class="row">
    <div class="col-12">
      <h4>Working Hours</h4>
    </div>
    <div class="col-4">
      <ul>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>
    </div>
    <div class="col-8">
      <ul>
        <li>9:00AM - 5:00PM</li>
        <li>9:00AM - 5:00PM</li>
        <li>9:00AM - 5:00PM</li>
        <li>9:00AM - 5:00PM</li>
        <li>9:00AM - 5:00PM</li>
        <li>9:00AM - 5:00PM</li>
        <li>9:00AM - 5:00PM</li>
      </ul>
    </div>
    <div class="col-12">
      <ul>
        <li>+1 619.467.3765 (From USA)</li>
        <li>+52 664.207.1561 (From MEX)</li>
      </div>
      <div class="col-12">
        <ul>
          <li>info@tijuanasmiledentistry.com</li>
        </div>
      </div>
    </div>
  </div>

  <%= render 'website/partials/we_are_waiting_for_you' %>
