<div class="row">
  <div class="col-12">
    <h1>Price List</h1>
  </div>
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="6">
            <h4>Cleaning, Whitening, Fillings & Extractions</h4>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Info</th>
          <th scope="col">USA</th>
          <th scope="col">TSD</th>
          <th scope="col">You Save</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Regular teeth cleaning</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Deep cleaning, scaling & root planing</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">LANA (per quadrant)</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Laser Cleaning</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Laser Teeth Whitening
          </th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Teeth Whitening</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Composite Filling</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Extraction (simple)</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Extraction (surgical or impacted)</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="6">
            <h4>Crowns / Veeners</h4>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Info</th>
          <th scope="col">USA</th>
          <th scope="col">TSD</th>
          <th scope="col">You Save</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Porcelain Fused to Metal Crown</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Porcelain Fused to Metal Bridge</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Porcelain Fusted to Gold Crown</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Full Porcelain / Ceramic Crown</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Zirconia Crown</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Porcelain Veneer</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="6">
            <h4>Root Canal Treatment</h4>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Info</th>
          <th scope="col">USA</th>
          <th scope="col">TSD</th>
          <th scope="col">You Save</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Root Canal (any tooth)</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Post / Core Build Up</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Root Canal Retreatment (any tooth)</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="6">
            <h4>Diagnostics / Other Procedures</h4>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Info</th>
          <th scope="col">USA</th>
          <th scope="col">TSD</th>
          <th scope="col">You Save</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Initial Examination / Consultation</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Panoramic X-Rays</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Occlusal Mouth Guard</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">CT Scan & Paronamic X-Ray</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="6">
            <h4>Anesthetic</h4>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Info</th>
          <th scope="col">USA</th>
          <th scope="col">TSD</th>
          <th scope="col">You Save</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Local Anesthetics</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">IV Sedation</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
        <tr>
          <th scope="row">Gas Sedation</th>
          <td><img src="./assets/info.png" alt="" width="15" height="15"></td>
          <td>$70</td>
          <td>$35</td>
          <td>$35</td>
          <td><img src="./assets/shop.png" alt="" width="15" height="15"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="2">
            <h4>Shopping Cart</h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Laser Cleaning</th>
          <td>$120 USD</td>
        </tr>
        <tr>
          <th scope="row">Gas Sedation</th>
          <td>$120 USD</td>
        </tr>
        <tr>
          <th scope="row">Root Canal</th>
          <td>$120 USD</td>
        </tr>
        <tr>
          <th scope="row">Total</th>
          <td>$360 USD</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Schedule Appointment</button>
  </div>
</div>