<div class="container-fluid">
  <%= render 'website/partials/announcements', phones: @phones %>
</div>
<div class="row menu">
  <div class='container'>
    <%= render 'website/partials/primary_header', current_organization: @current_organization, treatments: @treatments %>
  </div>
</div>

<div class="container prices">
  <div class="row">
    <div class="col-12 title">
      <h4>Price List</h4>
      <h5>You Can Save Up To 70% With Our Prices </h5>
    </div>
    <div class="col-8 item-list">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="6">
              <h5>Cleaning, Whitening, Fillings & Extractions</h5></th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Info</th>
            <th scope="col">USA</th>
            <th scope="col">TSD</th>
            <th scope="col">You Save</th>
            <th scope="col">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Regular teeth cleaning</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Deep cleaning, scaling & root planing</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>LANA (per quadrant)</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Laser Cleaning</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Laser Teeth Whitening</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Teeth Whitening</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Composite Filling</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Extraction (simple)</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Extraction (surgical or impacted)</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="6">
              <h5>Crowns / Veeners</h5>
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Info</th>
            <th scope="col">USA</th>
            <th scope="col">TSD</th>
            <th scope="col">You Save</th>
            <th scope="col">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Porcelain Fused to Metal Crown</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Porcelain Fused to Metal Bridge</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Porcelain Fusted to Gold Crown</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Full Porcelain / Ceramic Crown</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Zirconia Crown</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Porcelain Veneer</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="6">
              <h5>Root Canal Treatment</h5>
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Info</th>
            <th scope="col">USA</th>
            <th scope="col">TSD</th>
            <th scope="col">You Save</th>
            <th scope="col">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Root Canal (any tooth)</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Post / Core Build Up</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Root Canal Retreatment (any tooth)</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="6">
              <h5>Diagnostics / Other Procedures</h5>
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Info</th>
            <th scope="col">USA</th>
            <th scope="col">TSD</th>
            <th scope="col">You Save</th>
            <th scope="col">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Initial Examination / Consultation</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Panoramic X-Rays</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Occlusal Mouth Guard</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>CT Scan & Paronamic X-Ray</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="6">
              <h5>Anesthetic</h5>
            </th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Info</th>
            <th scope="col">USA</th>
            <th scope="col">TSD</th>
            <th scope="col">You Save</th>
            <th scope="col">Add</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Local Anesthetics</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>IV Sedation</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
          <tr>
            <td>Gas Sedation</td>
            <td>
              <img src="./assets/info.png" alt="" width="15" height="15">
            </td>
            <td>$70</td>
            <td>$35</td>
            <td>$35</td>
            <td>
              <img src="./assets/shop.png" alt="" width="15" height="15">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4 shopping-cart">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="2">
              <h5>Shopping Cart</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Laser Cleaning</td>
            <td>$120 USD</td>
          </tr>
          <tr>
            <td>Gas Sedation</td>
            <td>$120 USD</td>
          </tr>
          <tr>
            <td>Root Canal</td>
            <td>$120 USD</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>$360 USD</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Schedule Appointment</button>
    </div>
  </div>
</div>
<div class="container-fluid primary-footer-wrapper">
  <%= render 'website/partials/primary_footer' %>
</div>
