<div class="row">
  <div class="col-5">
    <img src="https://placehold.it/380x540" alt="">
  </div>
  <div class="col-7">
    <h4>Dr. Happy Teeth</h4>
    <h6>Senior Dental Doctor, 2005-Present</h6>
    <h7>Maryland Dental Center, Silver Spring, MD</h7>
    <hr />
    <p>
      My objetive is to apply my expertise as a dental doctor to the patients in the state of Maryland.
      To be employed as a senior dental doctor at the respectable Piney Orchard Dental Clinic.
      There are lots of dental doctors out there who are vying fort he job you want to have as well.
    </p>
    <p>
      Extensive experience in diagnosing dental problems and conditions.
      Expertise in correcting bite problems with use of Orthodontic devices.
      Proficiency in reading and interpreting dental X-ray results.
      Aptitude in creating dental appliances needed for denture fitting.
      Expertise in giving anesthetics to patients prior to dental procedures.
      Expertise in teeth whitening using the most recent dental innovations.
      Expertise in filling teeth cavities and eliminating decay.
      Proficiency in placing teeth sealants.
      Expertise in prescribing antibiotics and pain medications to patients who underwent dental procedures.
      Dedication to teach patients proper dental hygiene.
      Ability to work under pressure.
      Superb communication and interpersonal skills.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Our Facilities</h3>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
      <div class="col-3">
        <img src="https://placehold.it/200x200" alt="">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <img src="https://placehold.it/150x150" alt="">
    <p>Assistan A</p>
  </div>
  <div class="col-3">
    <img src="https://placehold.it/150x150" alt="">
    <p>Assistan A</p>
  </div>
  <div class="col-3">
    <img src="https://placehold.it/150x150" alt="">
    <p>Assistan A</p>
  </div>
  <div class="col-3">
    <img src="https://placehold.it/150x150" alt="">
    <p>Assistan A</p>
  </div>
</div>

<%= render 'website/partials/testimonials' %>

<%= render 'website/partials/schedule_now' %>

<%= render 'website/partials/we_are_waiting_for_you' %>
