<div class="row">
  <div class="col-5">
    <img src="https://placehold.it/380x540" alt="">
  </div>
  <div class="col-7">
    <p>
      <h4>Dr. Happy Teeth</h4>
      <p>
        <h6>Senior Dental Doctor, 2005-Present
          <p>Maryland Dental Center, Silver Spring, MD</h6>
        </p>
        <p>My objetive is to apply my expertise as a dental doctor to the patients in the state of Maryland; to be employed as a senior dental doctor at the respectable Piney Orchard Dental Clinic There are lots of dental doctors out there who are vying for
          the job you want to have as well.</p>
        <p>Extensive experience in diagnosing dental problems and conditions. Expertise in correcting bite problems with use of Orthodontic devices. Proficiency in reading and interpreting dental X-ray results. Aptitude in creating dental appliances needed
          for denture fitting. Expertise in giving anesthetics to patients prior to dental procedures. Expertise in teeth whitening using the most recent dental innovations. Expertise in filling teeth cavities and eliminating decay. Proficiency in placing
          teeth sealants. Expertise in prescribing antibiotics and pain medications to patients who underwent dental procedures. Dedication to teach patients proper dental hygiene. Ability to work under pressure. Superb communication and interpersonal skills.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Our Facilities</h3>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
          <div class="col-3">
            <img src="https://placehold.it/200x200" alt="">
          </div>
        </div>
      </div>
    </div>
    <form class="form-row">
      <div class="form-group col-3">
        <label for="inputname">Name</label>
        <input type="Name" class="form-control" id="inputname" placeholder="Name">
      </div>
      <div class="form-group col-3">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-3">
        <label for="inputdate">Date</label>
        <input type="Date" class="form-control" id="inputdate" placeholder="Date">
      </div>
      <div class="form-group col-3">
        <button type="submit" class="btn btn-primary">Now</button>
      </div>
    </form>
        <div class="row">
          <div class="col-3">
            <img src="https://placehold.it/150x150" alt="">
            <p>Assistan A</p>
          </div>
          <div class="col-3">
            <img src="https://placehold.it/150x150" alt="">
            <p>Assistan A</p>
          </div>
          <div class="col-3">
            <img src="https://placehold.it/150x150" alt="">
            <p>Assistan A</p>
          </div>
          <div class="col-3">
            <img src="https://placehold.it/150x150" alt="">
            <p>Assistan A</p>
          </div>
        </div>
        <div class="col-12">
          <p>
            <h3>What they say about us</p>
          </h3>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              <img src="https://placehold.it/200x200" alt="">
            </div>
            <div class="col-9">
              <p>Anne H.</p>
              <p>*****</p>
              <p>"Great service. Extremely friendly and knowledgeable staff. Was recommended by a family member and was thoroughly impressed."</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img src="https://placehold.it/200x200" alt="">
            </div>
            <div class="col-9">
              <p>James F.</p>
              <p>*****</p>
              <p>"I'm usually very anxious when attending the dentist. Dr. Ricardo and staff made me feel very comfortable. I had a painless experience in a very clean environment. Dr. Ricardo is a great dentist who was very informative of the work I needed to be
                done. I had 2 fillings a clean and crown done over a few visits and couldn't be happier. I would definitely recommend I Love My Dentist to friends and family."</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img src="https://placehold.it/200x200" alt="">
            </div>
            <div class="col-9">
              <p>Ellen T.</p>
              <p>*****</p>
              <p>“Dr. Guevara and staff are extremely kind and comprehensive. The office is beautiful, clean, and on a main street with all sorts of good food and shopping. The best cleaning and dental appointment that I have had in my life. I will be making them
                my regular dentist office, and recommending to all of my friends and family."</p>
            </div>
          </div>
        </div>
