<div class="row">
  <div class="col-7">
    <iframe src="https://www.youtube.com/embed/otdy19AmdQI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <div class="col-5">
    <%= render 'website/partials/talk_with_us' %>
  </div>
</div>

<div class="row">
  <div class="col-7">
    <h3>Border Pass</h3>
    <p>We know that trying to find your way to the San Ysidro border in Tijuana to return to the U.S. is challenging for even the most experienced Baja veterans. We’ve put together directions that show you step-by-step how to reach the San Ysidro Fast
      Pass Lane at the border from the toll road via the newly reopened Via Internacional.</p>
    <p>In order to use the Fast Pass Lane for expedited border crossing, you must have a received a Fast Pass from a medical establishment or hotel in Baja. This Fast Pass is good for one-time use only. For more information about the Fast Pass and
      establishments where you can get a pass, visit our Fast Pass Page.
    </p>
  </div>
  <div class="col-5">
    <img src="https://placehold.it/400x500" alt="">
  </div>
</div>

<div class="row">
  <div class="row">
    <div class="col-4">
      <h3>Find Us</h3>
      <p>+1 619.467.3765 (From USA)</p>
      <p>+52 664.207.1561 (From MEX)</p>
      <p>info@tijuanasmiledentistry.com</p>
      <p>Juventud Oriente #8800 I-2204 Zona Rio, Tijuana, B.C. México, CP 22000</p>
    </div>
    <div class="col-8">
      <img src="https://placehold.it/645x285" alt="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>What to do</h3>
    <img src="https://placehold.it/960x300" alt="">
    <p>To save you a good amount of time, money, and fuel, we highly encourage that you stay in some of the best Tijuana Hotels you can find instead on the US side. Hundreds of thousands of people from the US and Canada are opting to go on dental tourism to save their money and time, and Tijuana, Mexico has risen as their favorite dental destination.</p>
    <p>Conveniently located just across the border between the United States and Mexico, only 15 minutes away from San Diego airport, Tijuana, Mexico is a safe and affordable destination for quality dental care.
    Tijuana offers top medical facilities, luxurious hotels, fine restaurants, beautiful beaches and extravagant nightlife, making it one of the most popular cities in Mexico.</p>
  </div>
</div>

<div class="row">
    <div class="col-12">
      <h4>Hotels</h4>
    </div>
    <div class="col-3">
      <img src="https://placehold.it/200x200" alt="">
      <a href="url">Real Inn</a>
      <p>*****</p>
    </div>
    <div class="col-3">
      <img src="https://placehold.it/200x200" alt="">
      <a href="url">Pueblo Amigo</a>
      <p>*****</p>
    </div>
    <div class="col-3">
      <img src="https://placehold.it/200x200" alt="">
      <a href="url">Marriott</a>
      <p>*****</p>
    </div>
    <div class="col-3">
      <img src="https://placehold.it/200x200" alt="">
      <a href="url">Lucerna</a>
      <p>*****</p>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <h4>Check out what others have been doing</h4>
  </div>
</div>

<div class="row">
  <div class=col-3>
    <img src="https://placehold.it/200x200" alt="">
  </div>
  <div class="col-9">
    <p>
      Tijuana is the largest city in the Mexican state of Baja California and on the Baja California Peninsula.
      It is part of the San Diego–Tijuana international transborder agglomeration.
      As one of the largest and fastest growing cities of Mexico, Tijuana exerts a strong influence on local economics, education, culture, art, and politics.
      As the city has become a leading center in the country, so has the surrounding metropolitan area, a major industrial and paramount metropolis in northwestern Mexico.
      Currently one of the fastest growing metropolitan areas in Mexico, Tijuana maintains global city status.
      <a href="url">Learn More</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <p>
      Tijuana is the largest city in the Mexican state of Baja California and on the Baja California Peninsula.
      It is part of the San Diego–Tijuana international transborder agglomeration.
      As one of the largest and fastest growing cities of Mexico, Tijuana exerts a strong influence on local economics, education, culture, art, and politics.
      As the city has become a leading center in the country, so has the surrounding metropolitan area, a major industrial and paramount metropolis in northwestern Mexico.
      Currently one of the fastest growing metropolitan areas in Mexico, Tijuana maintains global city status.
      <a href="url">Learn More</a>
    </p>
  </div>
  <div class=col-3>
    <img src="https://placehold.it/200x200" alt="">
  </div>
</div>

<div class="row">
  <div class=col-3>
    <img src="https://placehold.it/200x200" alt="">
  </div>
  <div class="col-9">
    <p>
      Tijuana is the largest city in the Mexican state of Baja California and on the Baja California Peninsula.
      It is part of the San Diego–Tijuana international transborder agglomeration.
      As one of the largest and fastest growing cities of Mexico, Tijuana exerts a strong influence on local economics, education, culture, art, and politics.
      As the city has become a leading center in the country, so has the surrounding metropolitan area, a major industrial and paramount metropolis in northwestern Mexico.
      Currently one of the fastest growing metropolitan areas in Mexico, Tijuana maintains global city status.
      <a href="url">Learn More</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <p>
      Tijuana is the largest city in the Mexican state of Baja California and on the Baja California Peninsula.
      It is part of the San Diego–Tijuana international transborder agglomeration.
      As one of the largest and fastest growing cities of Mexico, Tijuana exerts a strong influence on local economics, education, culture, art, and politics.
      As the city has become a leading center in the country, so has the surrounding metropolitan area, a major industrial and paramount metropolis in northwestern Mexico.
      Currently one of the fastest growing metropolitan areas in Mexico, Tijuana maintains global city status.
      <a href="url">Learn More</a>
    </p>
  </div>
  <div class=col-3>
    <img src="https://placehold.it/200x200" alt="">
  </div>
</div>

<%= render 'website/partials/schedule_now' %>

<%= render 'website/partials/we_are_waiting_for_you' %>
