<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-7">
      <h3>Implants</h3>
      <p>
        Dental Implants are often the best treatment for missing teeth.
        When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.
      </p>
      <p>
        A dental implant is placed in the jawbone so that it can fuse with your natural bone and become a strong and sturdy foundation for replacement teeth. <a href="url">More Info</a>
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <h3>Implants</h3>
        <p>
          Dental Implants are often the best treatment for missing teeth.
          When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.<a href="url">More Info</a>
        </p>
      </div>
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-7">
      <h3>Implants</h3>
      <p>
        Dental Implants are often the best treatment for missing teeth.
        When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.
      </p>
      <p>
        A dental implant is placed in the jawbone so that it can fuse with your natural bone and become a strong and sturdy foundation for replacement teeth. <a href="url">More Info</a>
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <h3>Implants</h3>
        <p>
          Dental Implants are often the best treatment for missing teeth.
          When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.<a href="url">More Info</a>
        </p>
      </div>
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-7">
      <h3>Implants</h3>
      <p>
        Dental Implants are often the best treatment for missing teeth.
        When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.
      </p>
      <p>
        A dental implant is placed in the jawbone so that it can fuse with your natural bone and become a strong and sturdy foundation for replacement teeth. <a href="url">More Info</a>
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <h3>Implants</h3>
        <p>
          Dental Implants are often the best treatment for missing teeth.
          When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.<a href="url">More Info</a>
        </p>
      </div>
      <div class="col-5">
        <iframe src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <%= render 'website/partials/we_are_waiting_for_you' %>
  </div>
</div>
