<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Implants </p></h3>
    <p>Dental Implants are often the best treatment for missing teeth. When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.
    <p>A dental implant is placed in the jawbone so that it can fuse with your natural bone and become a strong and sturdy foundation for replacement teeth. <a href="url">More Info</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Dentures</p></h3>
    <p>Dentures are a removable dental appliance that serves as a replacement for missing teeth and surrounding tissue. They are made to closely resemble your natural teeth and may even enhance your smile.
    <p>There are two types of dentures: Complete and partial.
    Partial dentures are used when some natural teeth remain. They not only fill in the spaces created by missing teeth but also prevent other teeth from shifting. <a href="url">More Info</a></p>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Crowns</p></h3>
    <p>A dental crown is a tooth-shaped "cap" that is placed over a tooth -- to cover the tooth to restore its shape and size, strength, and improve its appearance.</p>
    <p>The crowns, when cemented into place, fully encase the entire visible portion of a tooth that lies at and above the gum line.<a href="url">More Info</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Restauraciones con Resina</p></h3>
    <p>Dentures are a removable dental appliance that serves as a replacement for missing teeth and surrounding tissue. They are made to closely resemble your natural teeth and may even enhance your smile.
    <p>There are two types of dentures: Complete and partial.</p>
    <p>Partial dentures are used when some natural teeth remain. They not only fill in the spaces created by missing teeth but also prevent other teeth from shifting. <a href="url">More Info</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Endodontics</p></h3>
    <p>A dental crown is a tooth-shaped "cap" that is placed over a tooth -- to cover the tooth to restore its shape and size, strength, and improve its appearance.</p>
    <p>The crowns, when cemented into place, fully encase the entire visible portion of a tooth that lies at and above the gum line.<a href="url">More Info</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Whitening</p></h3>
    <p>Dentures are a removable dental appliance that serves as a replacement for missing teeth and surrounding tissue. They are made to closely resemble your natural teeth and may even enhance your smile.
    <p>There are two types of dentures: Complete and partial.</p>
    <p>Partial dentures are used when some natural teeth remain. They not only fill in the spaces created by missing teeth but also prevent other teeth from shifting. <a href="url">More Info</a></p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Kn7gTevGx6s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="col-sm">
    <p><h3>Orthodontic</p></h3>
    <p>A dental crown is a tooth-shaped "cap" that is placed over a tooth -- to cover the tooth to restore its shape and size, strength, and improve its appearance.</p>
    <p>The crowns, when cemented into place, fully encase the entire visible portion of a tooth that lies at and above the gum line.<a href="url">More Info</a></p>
  </div>
</div>
<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputname">Name</label>
      <input type="Name" class="form-control" id="inputname" placeholder="Name">
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-3">
      <label for="inputdate">Date</label>
      <input type="Date" class="form-control" id="inputdate" placeholder="Date">
    </div>
    <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary">Now</button>
    </form>
  </div>
  </div>
</div>
