<div class="container">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-5">
        <iframe width="430" height="285" src="https://www.youtube.com/embed/useuVN-_fzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-5">
        <p>Implants</p>
        <p>
          Dental Implants are often the best treatment for missing teeth.
          When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.
        </p>
      </div>
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/secondary_testimonials' %>
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/we_are_waiting_for_you' %>
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_footer' %>
    </div>
  </div>
</div>
