<div class="row">
  <div class="col-7">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UQZGz7HSD7M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
  </div>
  <div class="col-5">
    <%= render 'website/partials/talk_with_us' %>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <img src="/assets/person1.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-3">
    <img src="/assets/person2.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-3">
    <img src="/assets/person3.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-3">
    <img src="/assets/person4.png" alt="" width="220" height="220">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Dental Implants</h3>
    <p>Dental Implants are often the best treatment for missing teeth. When a damaged or decayed tooth is removed, both the visible part of the tooth, called the crown, and the root are lost.</p>
    <p>A dental implant is placed in the jawbone so that it can fuse with your natural bone and become a strong and sturdy foundation for replacement teeth. Implants can be used to replace an individual tooth or for an implant-supported bridge or denture containing multiple teeth.</p>
    <p>Dental Implants are the closest you can get to health, natural teeth. They will allow you to confidently eat, smile, laugh, talk and enjoy all of your regular activities of everyday life without thinking about your teeth.</p>
    <p>A dental implant is placed in the jawbone so that it can fuse with your natural bone and become a strong and sturdy foundation for replacement teeth. Implants can be used to replace an individual tooth or for an implant-supported bridge or denture containing multiple teeth.</p>
    <p>Dental Implants are the closest you can get to health, natural teeth. They will allow you to confidently eat, smile, laugh, talk and enjoy all of your regular activities of everyday life without thinking about your teeth.</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Dental Implant Procedure in Mexico</h3>
    <p>This procedure is a team effort between you and your dentist at I love my dentist. Our Mexican dentist will consult with you to determine where and how your dental implant should be placed.</p>
    <p>Depending on your specific condition and the type of implant chosen, we will create a treatment plan tailored to meet your needs.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2>Before and After</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <img data-src="holder.js/400x300" alt="">
        <p>Before</p>
      </div>
      <div class="col-6">
        <img data-src="holder.js/400x300" alt="">
        <p>After</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <img data-src="holder.js/400x300" alt="">
        <p>Before</p>
      </div>
      <div class="col-6">
        <img data-src="holder.js/400x300" alt="">
        <p>After</p>
      </div>
    </div>
  </div>
</div>

<%= render 'website/partials/schedule_now' %>

<%= render 'website/partials/we_are_waiting_for_you' %>
