<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        <img src="https://placehold.it/600x400" alt="">
        <h3>10 Tips for Your Next Mexican Dental Vacation</h3>
        <p>July 9th, 2018</p>
        <p>
          High season in Los Algodones it´s about to begin, this means that it´s time to start planning your dental vacation.
          Today, we would like to share with you some useful tips that every traveler will find extremely necessary, especially if this is their first time traveling to sunny Mexico.
          Before starting, we would like to give you an extra (and very important advice) don´t be nervous! Traveling outside your city of residence in order to undergo any kind of dental or medical treatment is very popular nowadays, and the results will be better than what you´re expecting, especially if you choose the right place. <a href="/posts/1">Read More</a>
        </p>
      </div>
      <div class="col-12">
        <img src="https://placehold.it/600x400" alt="">
        <h3>5 Habits That Cause Crooked Teeth</h3>
        <p>July 04th, 2018</p>
        <p>
          Have you ever looked at someone and noticed that their smile is perfect just for the fact that their teeth are perfectly aligned?
          People with crooked teeth tend to compare their smiles to other people´s, and it´s ok.
          Who wouldn´t want a perfect smile, right? <a href="/posts/1">Read More</a>
        </p>
      </div>
      <div class="col-12">
        <img src="https://placehold.it/600x400" alt="">
        <h3>10 Reasons to Get Dental Work in Tijuana</h3>
        <p>July 1st, 2018</p>
        <p>
          Getting dental work outside of your country of residence can be a little overwhelming sometimes, especially if you don’t know where to go.
          We’re sure you’ve heard of Los Algodones, Mexico also known as Molar City, the capital of dental tourism.
          But you might not know why it is the best place to get dental work done, right? We invite you to keep reading, we’ll give you some reasons to visit Los Algodones.<a href="/posts/1">Read More</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <h3>Book Us</h3>
        <form class="needs-validation" novalidate="">
          <label for="email">Name</label>
          <input type="name" class="form-control" id="name" placeholder="">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="you@example.com" required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
          <label for="address2">Phone Number</label>
          <input type="phone" class="form-control" id="phone" placeholder="(619)000-0000">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Now</button>
        </form>
      </div>
      <div class="col-12">
        <h5>Blog Archive</h5>
        <p>2018(28)</p>
        <p>July(6)</p>
        <p>June(12)</p>
        <p>May(5)</p>
        <p>April(5)</p>
      </div>
      <div class="col-12">
        <h5>Popular Posts</h5>
        <img src="https://placehold.it/300x100" alt="">
        <p>10 Reasons to Get Dental Work in Tijuana</p>
        <img src="https://placehold.it/300x100" alt="">
        <p>10 Tips for Your Next Dental Mexican Vacation</p>
        <img src="https://placehold.it/300x100" alt="">
        <p>5 Habits That Cause Crooked Teeth</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form class="form-row">
      <div class="form-group col-3">
        <label for="inputname">Name</label>
        <input type="Name" class="form-control" id="inputname" placeholder="Name">
      </div>
      <div class="form-group col-3">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-3">
        <label for="inputdate">Date</label>
        <input type="Date" class="form-control" id="inputdate" placeholder="Date">
      </div>
      <div class="form-group col-3">
        <button type="submit" class="btn btn-primary">Now</button>
      </div>
    </form>
  </div>
</div>
