<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        <img src="https://placehold.it/600x400" alt="">
        <h3>10 Tips for Your Next Mexican Dental Vacation</h3>
        <p>July 9th, 2018</p>
        <p>
          The quality and affordability of dental care brings many American to Tijuana, Mexico.
          If you’re planning a dental vacation in Tijuana, these tips will surely give you lots of benefits:
        </p>
        <h5>1. Find a reliable clinic in Tijuana</h5>
        <p>
          In order to help you find a reliable clinic in Tijuana, browse Dental Departures’ website.
          See various clinic photos, dentist profiles, schedule of clinic hours as wells as real reviews from international patients.
          Checkout the prices and get exclusive discounts!
        </p>
        <h5>2. Look for the best dentist in Tijuana</h5>
        <p>
          Look for the best dentist in Tijuana. Check their qualifications, skills, and specializations.
          It’s important to know that the dentists in Tijuana are on par with their counterparts in the US, Canada, and UK, which is why they are trusted by Americans to handle their oral care.
          In fact, the specialist in root canal Advanced Smiles Dentistry is affiliated with the American Association of Endodontics and European Association of Endodontics.
          The dentists in Tijuana specialize in different fields such as Restorative Treatments, Endodontics (root canals), Oral Surgery, including dental implants.
        </p>
          <h5>3. Know the types of dental services</h5>
        <p>
          Know the types of services offered by the clinics.
          Check if they provide the treatments that you need.
          Clinics in Tijuana offer preventive care such teeth cleaning to specialized treatment like Gum Care, Root Canal Therapy, Oral Surgery, and Cosmetic Dentistry like laser teeth whitening crowns, veneers, and dentures.
        </p>
          <h5>4. Check the environment</h5>
        <p>
          Check the facilities including the types of equipment.
          Dental clinics in Tijuana provide modern, comfortable, and friendly atmosphere.
          The clinics utilize hi-tech equipment like CAD/CAM technology that process same day crowns and veneers.
          Advanced Smiles Dentistry uses this ultramodern equipment, which enables them to produce impressive dental restorations in a short period.
        </p>
          <h5>5. Talk to your dentist</h5>
        <p>
          During your consultation, feel free to talk to the dentist about your concerns.
          Their exposure in global setting helps them to understand patients from abroad.
          For example, the head dentist at Dr. Dalia Dental Care has been serving patients from the USA, Mexico, Europe, Asia, and other countries for more than 30 years.
        </p>
          <h5>6. Compare the cost of treatment</h5>
        <p>
          Prices of treatment in Tijuana are lower compared to your home country. For example,
          Laser Teeth Whitening in Tijuana costs around USD $150 (CAD $202, £117) compared to the US which is USD $496 (CAD $669, UK £388).
        </p>
          <h5>7. Choose a nice accommodation</h5>
        <p>
          Choose a nice accommodation that is accessible to the clinic so you can easily attend your dental appointment.
          Tijuana offers a variety of accommodation options ranging from budget hotels for backpackers, vacation houses to high-end hotels.
        </p>
          <h5>8. Taste authentic Mexican food</h5>
        <p>
          Savor authentic Mexican food from tacos and nachos sold in street stalls to find dining restaurants serving local as well as international dishes.
        </p>
          <h5>9. Chill out</h5>
        <p>
          Chill out, enjoy sightseeing or you can even explore the Playas de Tijuana (beaches of Tijuana), which is the westernmost borough of the city.
        </p>
          <h5>10 .Take care of you newly restored teeth</h5>
        <p>
          Take care of your newly restored teeth especially when chewing sumptuous Mexican dishes.
          Chill out and enjoy your dental vacation in Tijuana!
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <h3>Book Us</h3>
        <form class="needs-validation" novalidate="">
          <label for="email">Name</label>
          <input type="name" class="form-control" id="name" placeholder="">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="you@example.com" required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
          <label for="address2">Phone Number</label>
          <input type="phone" class="form-control" id="phone" placeholder="(619)000-0000">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Now</button>
        </form>
      </div>
      <div class="col-12">
        <h5>Blog Archive</h5>
        <p>2018(28)</p>
        <p>July(6)</p>
        <p>June(12)</p>
        <p>May(5)</p>
        <p>April(5)</p>
      </div>
      <div class="col-12">
        <h5>Popular Posts</h5>
        <img src="https://placehold.it/300x100" alt="">
        <p>10 Reasons to Get Dental Work in Tijuana</p>
        <img src="https://placehold.it/300x100" alt="">
        <p>10 Tips for Your Next Dental Mexican Vacation</p>
        <img src="https://placehold.it/300x100" alt="">
        <p>5 Habits That Cause Crooked Teeth</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <form class="form-row">
      <div class="form-group col-3">
        <label for="inputname">Name</label>
        <input type="Name" class="form-control" id="inputname" placeholder="Name">
      </div>
      <div class="form-group col-3">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-3">
        <label for="inputdate">Date</label>
        <input type="Date" class="form-control" id="inputdate" placeholder="Date">
      </div>
      <div class="form-group col-3">
        <button type="submit" class="btn btn-primary">Now</button>
      </div>
    </form>
  </div>
</div>
