<div class="container">
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <p>State</p>
      <img data-src="holder.js/1010x336" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <p>City</p>
    </div>
    <div class="col-5">
      <p>City</p>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <img data-src="holder.js/510x200" alt="">
      <p>
    </div>
    <div class="col-5">
      <img data-src="holder.js/510x200" alt="">
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_footer' %>
    </div>
  </div>
</div>
