<div class="container">
  <div class="row">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>
  <div class="row">
    <div clas="col-10">
      <p>
        dentists, Tijuana, Baja California, Mexico</p>
    </div>
  </div>
  <form>
    <div class="form-row">
      <div class="col">
        <div class="dropbown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Country
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Bali</a></li>
            <li><a href="#">Colombia</a></li>
            <li><a href="#">Mexico</a></li>
          </ul>
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">State
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Baja California</a></li>
            <li><a href="#">Baja California Sur</a></li>
            <li><a href="#">Chihuahua</a></li>
          </ul>
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">City
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Ensenada</a></li>
            <li><a href="#">Mexicali</a></li>
            <li><a href="#">Tijuana</a></li>
          </ul>
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Optional Name
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="http://localhost:3000/organizations/show">Clinic Name</a></li>
            <li><a href="http://localhost:3000/organizations/show">Clinic Name</a></li>
            <li><a href="http://localhost:3000/organizations/show">Clinic Name</a></li>
          </ul>
        </div>
        <label><input type="checkbox">Free Transportation</label>
        <label><input type="checkbox">Open Now</label>
      </div>
    </div>
  </form>
  <div class="row">
    <div clas="col-10">
      <p>Filter by treatments:</p>
      <form>
        <div class="form-row">
          <div class="col">
            <label><input type="checkbox">Crowns</label>
            <label><input type="checkbox">Dental Implants</label>
            <label><input type="checkbox">Dentures</label>
            <label><input type="checkbox">Orthodontics</label>
            <label><input type="checkbox">Veneers</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-3">
          <img data-src="holder.js/250x250">
        </div>
        <div class="col-4">
          <p>Clinic</p>
          <p>Location</p>
          <p>*****</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua...”
          </p>
          <a href="http://localhost:3000/organizations/show">More</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <img data-src="holder.js/210x250">
      <ul>Popular Destinations
        <li><a href="">Bali</a></li>
        <li><a href="">Costa Rica</a></li>
        <li><a href="">Colombia</a></li>
        <li><a href="">Hungary</a></li>
        <li><a href="">Mexico</a></li>
      </ul>
      <ul>Popular Treatments
        <li><a href="">Dental Implants</a></li>
        <li><a href="">Dentures</a></li>
        <li><a href="">Fillings</a></li>
        <li><a href="">Root Canal</a></li>
        <li><a href="">Veneers</a></li>
      </ul>
    </div>
  </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/schedule_now' %>
    </div>
  <div class="row menu">
    <div class='container'>
      <%= render 'website/partials/primary_footer' %>
    </div>
  </div>
</div>
