<div class="container">
  <div class="row">
    <div class='container'>
      <%= render 'website/partials/primary_header' %>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class=col-7>
          <p>Organization Name</p>
          <p>*****</p>
          <img data-src="holder.js/550x280">
          <a href="#">About Us | </a>
          <a href="#">Photos | </a>
          <a href="#">Treatments | </a>
          <a href="#">Prices | </a>
          <a href="#">Reviews | </a>
          <a href="#">Doctors | </a>
          <a href="#">Free Quote</a>
          <p>About Us</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
          <p>Photos</p>
          <div class="row">
            <div class="col-2">
              <img data-src="holder.js/183x183">
            </div>
            <div class="col-2">
              <img data-src="holder.js/183x183">
            </div>
            <div class="col-2">
              <img data-src="holder.js/183x183">
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <img data-src="holder.js/183x183">
          </div>
          <div class="col-2">
            <img data-src="holder.js/183x183">
          </div>
          <div class="col-2">
            <img data-src="holder.js/183x183">
          </div>
        </div>
        <p>Treatments</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Treatments</th>
              <th scope="col">Prices</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Regular teeth cleaning</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">Deep cleaning, scaling & root planing</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">LANA (per quadrant)</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">Regular teeth cleaning</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">Deep cleaning, scaling & root planing</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">LANA (per quadrant)</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">Regular teeth cleaning</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">Deep cleaning, scaling & root planing</th>
              <td>$</td>
            </tr>
            <tr>
              <th scope="row">LANA (per quadrant)</th>
              <td>$</td>
            </tr>
          </tbody>
        </table>
        <p>Reviews(281)</p>
        <p>Patient</p>
        <p>*****</p>
        <p>Date</p>
        <p>Location</p>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua...”
        </p>
        <p>Reviews(281)</p>
        <p>Patient</p>
        <p>*****</p>
        <p>Date</p>
        <p>Location</p>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua...”
        </p>
        <p>Reviews(281)</p>
        <p>Patient</p>
        <p>*****</p>
        <p>Date</p>
        <p>Location</p>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua...”
        </p>
        <a href="#">View More</a>
        <p>Dentist</p>
        <div class="row">
          <div class="col-2">
            <img data-src="holder.js/130x130">
              <div class="col-4">
              <p>Dr. Name</p>
              <p>Degree</p>
              <p>Doctor Description</p>
              </div>
            </div>
          </div>
          <p>Free Quote</p>
          <%= render 'website/partials/talk_with_us' %>
        </div>
        <div class=col-4>
          <p>Free Quote</p>
          <%= render 'website/partials/talk_with_us' %>
          <p>Working Hours</p>
            <div class="row">
              <div class="col-2">
                <ul class='days'>
                  <li class='day'>Monday</li>
                  <li class='day'>Tuesday</li>
                  <li class='day'>Wednesday</li>
                  <li class='day'>Thursday</li>
                  <li class='day'>Friday</li>
                  <li class='day'>Saturday</li>
                  <li class='day'>Sunday</li>
                </ul>
              </div>
              <div class="col-2">
                <ul class='time-ranges'>
                  <li class='time-range'>9:00AM-5:00PM</li>
                  <li class='time-range'>9:00AM-5:00PM</li>
                  <li class='time-range'>9:00AM-5:00PM</li>
                  <li class='time-range'>9:00AM-5:00PM</li>
                  <li class='time-range'>9:00AM-5:00PM</li>
                  <li class='time-range'>9:00AM-5:00PM</li>
                  <li class='time-range'>9:00AM-5:00PM</li>
                </ul>
              </div>
            </div>
            <p>Dental Clinic Information</p>
            <img data-src="holder.js/240x115">
            <p>Juventud Oriente #8800 I-2204 Zona Rio, Tijuana, B.C. México, CP 22010</p>
            <p>info@dentaldestinations.com</p>
            <ul>Popular Destinations
              <li><a href="#">Bali</a></li>
              <li><a href="#">Costa Rica</a></li>
              <li><a href="#">Colombia</a></li>
              <li><a href="#">Hungary</a></li>
              <li><a href="#">Mexico</a></li>
            </ul>
            <ul>Popular Treatments
              <li><a href="#">Dental Implants</a></li>
              <li><a href="#">Dentures</a></li>
              <li><a href="#">Fillings</a></li>
              <li><a href="#">Root Canal</a></li>
              <li><a href="#">Veneers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row menu">
      <div class='container'>
        <%= render 'website/partials/primary_footer' %>
      </div>
    </div>
  </div>
