<div class='row'>
  <div class='col-12 text-center announcements'>
    <p>
      Give us a call, we want to see you smile
      <% phones.each do |phone| %>
        <span class='phone'>
          <img class="flag" src="/assets/<%= phone.country_code %>.svg" alt="<%= phone.country_code %> Flag">
          <a class="number" href="tel:<%= phone.calculated_full_number %>"><%= phone.calculated_full_number %></a>
        </span>
      <% end %>
    </p>
  </div>
</div>
