<div class="row featured-in">
  <div class="col-12">
    <hr class="attention-helper">
    <h2 class='title text-center'>What Others Are Saying</h2>
    <h4 class='suggester text-center'>We have been featured in newspapers, blogs and magazines</h4>
    <img class="mb-2 d-block mx-auto" src="./assets/featured.png" alt="" width="600" height="142">
  </div>
</div>
