<div class='row'>
  <div class="col-10">
    <hr class="attention-helper">
    <h2 class='title text-center'>What Our Patients Are Saying</h2>
    <h4 class='suggester text-center'>We Offer Quality Dental Care At Affordable Prices, See It To Believe It</h4>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-5 col-offset-1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/useuVN-_fzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-5">
        <p>
          "Great service. Extremely friendly and knowledgeable staff.
          Was recommended by a family member and was thoroughly impressed."
        </p>
        <p>Anne H.</p>
        <p>*****</p>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-5 col-offset-1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/useuVN-_fzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-5">
        <p>
          "Great service. Extremely friendly and knowledgeable staff.
          Was recommended by a family member and was thoroughly impressed."
        </p>
        <p>Anne H.</p>
        <p>*****</p>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-5 col-offset-1">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/useuVN-_fzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-5">
        <p>
          "Great service. Extremely friendly and knowledgeable staff.
          Was recommended by a family member and was thoroughly impressed."
        </p>
        <p>Anne H.</p>
        <p>*****</p>
      </div>
    </div>
  </div>
</div>
