<footer class="row border-top">
  <div class="col-10">
    <div class="row">
      <div class="col-2">
        <ul>Dental Destinations
          <li><a href="#">Home</a></li>
          <li><a href="#">Treatments</a></li>
          <li><a href="#">Organizations</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Free Quote</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul>Popular Destinations
          <li><a href="#">Bali</a></li>
          <li><a href="#">Costa Rica</a></li>
          <li><a href="#">Colombia</a></li>
          <li><a href="#">Hungary</a></li>
          <li><a href="#">Mexico</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul>Popular Treatments
          <li><a href="#">Dental Implants</a></li>
          <li><a href="#">Dentures</a></li>
          <li><a href="#">Root Canal</a></li>
          <li><a href="#">Teeth Whitening</a></li>
          <li><a href="#">Veneers</a></li>
        </ul>
      </div>
      <div class="col-4">
        <p>Contact Us</p>
        <p>info@dentaldestinations.com</p>
        <img data-src="holder.js/19x19">
        <img data-src="holder.js/19x19">
        <img data-src="holder.js/19x19">
        <img data-src="holder.js/19x19">
    </div>
    <div class="row">
      <div class="col-12">
        <p>Dental Destinations © 2019 All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
