<footer class="row primary-footer">
  <div class=conteiner>
    <div class="col-12">
      <div class="row">
        <div class="col-4 col-md">
          <img class="mb-2" src="/assets/logo-small-white.png" alt="" width="175" height="36">
          <small class="d-block mb-3 text-muted">© 2017-2018</small>
        </div>
        <div class="col-4 col-md">
          <h6>Contact Us</h6>
          <ul class="list-unstyled text-small">
            <li><img src="/assets/US.svg" width="20" height="20"> +1 619.467.3765 (From USA)</li>
            <li><img src="/assets/MX.svg" width="20" height="20"> +52 664.207.1561 (From MEX)</li>
          </ul>
        </div>
        <div class="col-4 col-md">
          <a class="" href="mailto:info@tijuanasmiledentistry.com">info@tijuanasmiledentistry.com</a>
          <p>Juventud Oriente #8800 I-2204 Zona Rio, Tijuana, B.C. México, CP 22000</p>
          <a href="https://facebook.com/tijuanasmiledentistry#"><img src="/assets/facebook.png" alt="Facebook" width="20" height="20">
          <a href="https://instagram.com/tijuanasmiledentistry#"><img src="/assets/instagram.png" alt="Facebook" width="20" height="20">
          <a href="https://twitter.com/tijuanasmiledentistry#"><img src="/assets/twitter.png" alt="Facebook" width="20" height="20">
          <a href="https://yelp.com#"><img src="/assets/yelp.png" alt="Facebook" width="20" height="20">
        </div>
      </div>
    </div>

    <div class="container nav-bar">
      <div class="row">
        <div class="col-12">
          <a class="nav-link" href="/home">Home</a> |
          <a class="nav-link" href="/pictures">Pictures</a> |
          <a class="nav-link" href="/traetments">Treatments</a> |
          <a class="nav-link" href="/reviews">Reviews</a> |
          <a class="nav-link" href="/about_us">About Us</a>
        </div>
      </div>
    </div>
    <div class="conteiner tijuanasmiledentistry">
      <div class="row">
        <div class="col-12">
          <p>© 2018 Tijuana Smile Dentistry. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
