<div class="container-fluid primary-footer-wrapper">
  <div class='row'>
    <div class='container'>
      <footer class="primary-footer">
        <div class='row'>
          <div class="col-12">
            <div class="row">
              <div class="col-2 text-center brand">
                <img class="mb-2 logo" src="/assets/logo-small-white.png" alt="" />
              </div>
              <div class="col-2 text-center menu">
                <h6>Menu</h6>
                <ul class="list-unstyled text-small">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/treatments">Treatments</a>
                  </li>
                  <li>
                    <a href="/price-list">Price List</a>
                  </li>
                  <li>
                    <a href="/virtual-tour">Virtual Tour</a>
                  </li>
                  <li>
                    <a href="/the-team">The Team</a>
                  </li>
                  <!-- <li> -->
                  <!--   <a href="/post">Blog</a> -->
                  <!-- </li> -->
                  <li>
                    <a href="/about-us">About Us</a>
                  </li>
                </ul>
              </div>
              <div class="col-2 text-center phones">
                <h6>Give Us A Call</h6>
                <ul class="list-unstyled text-small">
                  <% phones.each do |phone| %>
                    <li class='phone'>
                      <img class="flag" src="/assets/<%= phone.country_code %>.svg" alt="<%= phone.country_code %> Flag">
                      <a class="number" href="tel:<%= phone.calculated_full_number %>"><%= phone.calculated_full_number %></a>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="col-3 text-center emails">
                <h6>Write To Us</h6>
                <a href="mailto:info@tijuanasmiledentistry.com">info@tijuanasmiledentistry.com</a>
              </div>
              <div class='col-3 text-left social-networks'>
                <h6>Connect With Us</h6>
                <ul class="list-unstyled text-small">
                  <li class='social-network'>
                    <a href="https://facebook.com/tijuanasmiledentistry">
                      <img class='logo' src="/assets/facebook.png" alt="Facebook" />
                      Facebook
                    </a>
                  </li>
                  <li class='social-network'>
                    <a href="https://instagram.com/tijuanasmiledentistry">
                      <img class='logo' src="/assets/instagram.png" alt="Instagram" />
                      Instagram
                    </a>
                  </li>
                  <li class='social-network'>
                    <a href="https://twitter.com/tijuanasmiledentistry">
                      <img class='logo' src="/assets/twitter.png" alt="Twitter" />
                      Twitter
                    </a>
                  </li>
                  <li class='social-network'>
                    <a href="https://www.yelp.com/biz/tijuana-smile-dentistry-tijuana">
                      <img class='logo' src="/assets/yelp.png" alt="Yelp" />
                      Yelp
                    </a>
                  </li>
                  <li class='social-network'>
                    <a href="https://www.youtube.com/channel/UCuV83q5cbvYfENHz4aMc-aA">
                      <img class='logo' src="/assets/youtube.png" alt="Youtube" />
                      Youtube
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row address">
          <div class="col-12">
            <p class='text text-center'>Juventud Oriente #8800 Int. 22004, Zona Rio, Tijuana, B.C., Mexico, C.P. 22000</p>
          </div>
        </div>


        <div class="row disclaimer">
          <div class="col-12">
            <p class='text text-center'>© 2018 Tijuana Smile Dentistry. All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
