<div class='container-fluid secondary-footer'>
  <div class='row'>
    <div class='col-12'>
      <p class='text-center'><%= current_organization.name %> © <%= DateTime.now.year %> All Rights Reserved.</p>
    </div>
  </div>
</div>
