<div class="row talk-with-us">
  <div class="col-12">
    <hr class="ml-0 attention-helper">
    <h1 class='title'>
      We Are A High Quality Tijuana Dentist Clinic
    </h1>
    <h2 class='suggester'>
      Over 100+ Americans Trust Us
    </h3>
  </div>
  <div class="col-12">
    <form>
      <div class="form-group">
        <input type="name" class="form-control"placeholder="Your Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Your Email" required="">
      </div>
      <div class="form-group">
        <input type="phone" class="form-control" placeholder="(619)000-0000">
      </div>
      <div class="form-group">
        <input type="Date" class="form-control" placeholder="Date">
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Book Appointment&gt;</button>
    </form>
  </div>
</div>
