<h3>Talk With Us</h3>
<form class="needs-validation" novalidate="">
  <label for="email">Name</label>
  <input type="name" class="form-control" id="name" placeholder="">
  <div class="invalid-feedback">
    Please enter a valid email address for shipping updates.
  </div>
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" placeholder="you@example.com" required="">
  <div class="invalid-feedback">
    Please enter your shipping address.
  </div>
  <label for="address2">Phone Number</label>
  <input type="phone" class="form-control" id="phone" placeholder="(619)000-0000">
  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit">Now</button>
</form>
