<form>
    <div class="form-group">
      <input type="name" class="form-control"placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" required="">
    </div>
    <div class="form-group">
      <input type="phone" class="form-control" placeholder="Phone">
    </div>
    <div class="form-group">
      <select class="form-control" id="sel1">
        <option>Destination</option>
        <option>Bali</option>
        <option>Colombia</option>
        <option>Mexico</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control"placeholder="Message">
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Now</button>
  </form>
