<div class="row we-are-waiting-for-you">
  <div class="col-10">
    <h2 class='text-center title'>We are waiting for you</h2>
    <img class='image' data-src="holder.js/1100x300" alt="">
  </div>
</div>
