<div class="row working-hours">
  <div class="col-12">
    <h2 class='text-center title'>Working Hours</h2>
  </div>
  <div class='col-12'>
    <div class='row days-time-ranges-wrapper'>
      <div class="col-5">
        <ul class='days'>
          <li class='day'>Monday</li>
          <li class='day'>Tuesday</li>
          <li class='day'>Wednesday</li>
          <li class='day'>Thursday</li>
          <li class='day'>Friday</li>
          <li class='day'>Saturday</li>
          <li class='day'>Sunday</li>
        </ul>
      </div>
      <div class="col-7">
        <ul class='time-ranges'>
          <li class='time-range'>9:00AM-5:00PM</li>
          <li class='time-range'>9:00AM-5:00PM</li>
          <li class='time-range'>9:00AM-5:00PM</li>
          <li class='time-range'>9:00AM-5:00PM</li>
          <li class='time-range'>9:00AM-5:00PM</li>
          <li class='time-range'>9:00AM-5:00PM</li>
          <li class='time-range'>9:00AM-5:00PM</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12">
    <ul class='phone-numbers'>
      <li class='phone-number united-states text-center'>
        <img class="mb-2 flag" src="/assets/usa.svg" alt="">
        <a class="text-muted" href="tel:+16194673765">+1 (619) 452-2823</a>
      </li>
      <li class='phone-number mexico text-center'>
        <img class="mb-2 flag" src="/assets/mexico.svg" alt="">
        <a class="text-muted" href="tel:+526642071561">+52 (664) 685-3862</a>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <ul class='email-addresses'>
      <li class='email-address'>
        <a class="email d-block text-center" href="mailto:info@tijuanasmiledentistry.com">info@tijuanasmiledentistry.com</a>
      </li>
    </ul>
  </div>
</div>
