<div class="row">
  <div class="col-12">
    <h4>Working Hours</h4>
  </div>
  <div class="col-4">
    <ul>
      <li>Monday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
      <li>Saturday</li>
      <li>Sunday</li>
    </ul>
  </div>
  <div class="col-8">
    <ul>
      <li>9:00AM - 5:00PM</li>
      <li>9:00AM - 5:00PM</li>
      <li>9:00AM - 5:00PM</li>
      <li>9:00AM - 5:00PM</li>
      <li>9:00AM - 5:00PM</li>
      <li>9:00AM - 5:00PM</li>
      <li>9:00AM - 5:00PM</li>
    </ul>
  </div>
  <div class="col-12">
    <ul>
      <li>+1 619.467.3765 (From USA)</li>
      <li>+52 664.207.1561 (From MEX)</li>
    </ul>
  </div>
  <div class="col-12">
    <ul>
      <li>info@tijuanasmiledentistry.com</li>
    </ul>
  </div>
</div>
