<%= render 'website/partials/secondary_header', current_organization: @current_organization %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Schedule Appointment</h2>
    </div>
    <div class="col-md-8 col-sm-12">
      <%= render 'form', lead: @lead, url: update_and_confirm_and_send_confirmation_emails_website_lead_path(@lead) %>
    </div>
    <div class="col-md-4 col-sm-12 d-none d-md-block">
      <%= render 'website/partials/working_hours', phones: @phones, current_organization: @current_organization %>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer', current_organization: @current_organization %>
