<%= render 'website/partials/secondary_header', current_organization: @current_organization %>
<%= render 'website/partials/we_are_waiting_for_you', primary_text: "Thanks #{@lead.person_name.titleize} for your appointment on #{@lead.preferred_date.strftime("%A, %B %d, %Y")}.", secondary_text: 'One of our patient coordinators will contact you to help you in every step of the process' %>
<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <p class='text-center disclaimer'>You will be contacted by Baja Smile Dentistry within the next 24 hours to confirm the exact time of your appointment. If you require booking flights or need to finalize your travel arrangements, please confirm your travel dates back to us as soon as possible so we may confirm your appointment.</p>
    </div>
  </div>
</div>
<%= render 'website/partials/secondary_footer', current_organization: @current_organization %>

<% if Rails.env == 'production' %>
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2310782072497636');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2310782072497636&ev=PageView&noscript=1" />
  </noscript>
<% end %>
