@import "bootstrap";
@import "./open-iconic-bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,400i|Source+Sans+Pro:400,400i,600,600i,700,700i');

$breath-size: 75px;
$primary-blue: #0092FF;
$secondary-blue: cyan;
$dark-orange: #ff5d0e;
$light-orange: #ff8b52;

body {
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 46pt;
  }
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 40pt;
  }
  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 34pt;
  }
  h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 28pt;
  }
  h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 18pt;
  }
  p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 22pt;
  }
}

.attention-helper {
  max-width: 125px;
  border-color: $primary-blue;
  border-width: 5px;
}

.announcements {
  background-color: black;

  p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 12pt;
    margin: 10px 0px 10px;
  }

  .phone {
    margin: 0px 10px 0px;

    .flag {
      width: 24px;
      height: 18.75px;
      position: relative;
      top: -1px;
      margin-right: 5px;
    }
    .number {
      color: white;
    }
  }
}

.social-proofs-wrapper {
  margin-top: $breath-size/2;
  margin-bottom: $breath-size;

  .social-proofs {
    margin-top: 20px;

    .social-proof {
      margin: 20px;
    }
  }
}

.star.active {
  color: #ED8A19;
}
.star.inactive {
  color: grey;
}

.external-testimonials {
  .attention-helper {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .texts {
    margin-bottom: $breath-size/2;
  }

  .external-testimonial {
    margin-top: $breath-size/2;

    .video-wrapper {
      .video {
        width: 100%;
        height: 100%;
      }
    }
    .carousel-wrapper {
      .carousel {
      }
    }
    .texts {
      .name {
        margin-bottom: 0px;
        font-weight: bold;
      }
      .address {
        margin-bottom: 0px;
        font-size: 18px;
        color: #404040;
      }
      .rating {
        font-size: 18px;

        .date {
          color: #404040;
        }
      }
      .text {
        font-size: 18px;
      }
    }
  }
}

.we-are-waiting-for-you {
  .attention-helper {
    max-width: 700px;
  }
  .title {
    margin: $breath-size/3 0px $breath-size/3 0px;
  }
  .suggester {
  }
  .image {
    width: 100%;
  }
}

.schedule-now-wrapper {
  background-image: linear-gradient(to right, rgba(44, 162, 250, 0.8), rgba(44, 204, 252, 0.8));//, url('schedule.jpg');
  background-repeat: no-repeat;
  background-position: top;

  .schedule-now {
    margin-top: $breath-size;
    margin-bottom: $breath-size;

    .title {
      color: white;
      margin-top: $breath-size/3;
    }
    .suggester {
      color: white;
      margin-bottom: $breath-size/1.5;
    }
    form {
      .name {
      }
      .email {
      }
      .date {
      }
      .btn {
        width: 100%;
      }
    }
  }
}

.internal-testimonials {
  .attention-helper {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .title, .suggester {
    margin: $breath-size/3 0px $breath-size/3 0px;
  }

  .primary-internal-testimonial {
    .image {
      width: 100%;
    }
  }
  .secondary-internal-testimonials {
    .secondary-internal-testimonial {
      padding: 15px;

      .image {
        width: 100%;
      }
    }
  }
}

.working-hours-wrapper {
  background-image: linear-gradient(to right, rgba(44, 162, 250, 0.8), rgba(44, 204, 252, 0.8));//, url('working-hours-wrapper.jpg');
  background-repeat: no-repeat;
  background-position: top;
  padding-top: $breath-size;
  padding-bottom: $breath-size;

  .talk-with-us {
    color: white;

    .attention-helper {
      display: none;
    }
  }
  .working-hours {
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;;
    background-color: rgba(255, 255, 255, 1);
  }
}

.working-hours {
  ul {
    padding-left: 0px;
  }

  .title {
    font-weight: 800;
  }
  .days-time-ranges-wrapper {
    margin-left: 0px;
    margin-top: 20px;

    .days {
      text-align: right;

      .day {
        font-weight: 800;
        margin-top: 7px;
        direction: rtl;

        list-style: none;
      }
    }
    .time-ranges {
      .time-range {
        margin-top: 7px;
        list-style: none;
      }
    }
  }
  .phone-numbers {
    .phone-number {
      margin: 10px;
      list-style: none;
    }
    .flag {
      position: relative;
      top: 2px;
      width: 20px;
      height: 20px;
    }
  }
  .email-addresses {
    .email-address {
      list-style: none;
    }
  }
}

.talk-with-us {
  .title {
    font-weight: 800;
  }
  .suggester {
    font-weight: bold;
    margin-top: $breath-size/5;
    margin-bottom: $breath-size/4;
  }
  .orange-btn {
    float: right;
    width: 33%;
    background-color: $dark-orange;
    border-color: $dark-orange;

    // TODO: Remove important
    &:focus, &:hover, &:active, &:target {
      background-color: $light-orange !important;
      border-color: $light-orange !important;
      outline: none !important;
      box-shadow: none !important;
      outline: 0 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}

.primary-header {
  margin-top: $breath-size/4;

  .navbar-nav {
    margin-top: 12px;

    .nav-item {
      .nav-link {
        color: #404040;
        font-weight: 600;

        &:hover {
          color: #757575;
        }
      }
      .btn {
        padding-right: 30px;
        padding-left: 30px;
        font-weight: 600;
      }
    }
    .last-item {
      margin-left: 20px;
    }
  }

  .brand {
    .logo {
      width: 178.67px;
      height: 35.89px;

      // NOTE: desktop only?
      position: relative;
      top: 10px;
    }
    .name {
      margin: 0px;
      padding: 0px;
    }
  }
}

.pages {
  .home {
    .billboard-wrapper {
      background-image: url('header.jpg');
      background-repeat: no-repeat;
      background-position: top;
      background-position-x: -10px;
      height: 756px;

      .billboard {
        margin-top: 64px;

        .explainer-video {
          width: 100%;
          height: 100%;
        }

        .talk-with-us-wrapper {
          padding: 20px;
          border-width: 2px;
          border-radius: 10px;;
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
    .featured-in {
      margin-top: $breath-size;
      margin-bottom: $breath-size;

      .title {
        margin: $breath-size/3 0px $breath-size/3 0px;
      }
      .image {
      }
    }
    .clients {
      margin-top: $breath-size;
      margin-bottom: $breath-size;

      .title {
        margin: $breath-size/3 0px $breath-size/3 0px;
      }
      .client {
        padding: $breath-size/4;

        .image {
          width: 100%;
        }
      }
    }
  }
  .about-us {
    background-color: green;
  }
  .contact-us {
    background-color: yellow;
  }
  .price-list {
    background-color: blue;
  }
  .schedule-appointment-primary {
    background-color: purple;
  }
  .schedule-appointment-secondary {
    background-color: pink;
  }
  .the-team {
    background-color: white;
  }
  .virtual-tour {
    background-color: brown;
  }
}

.pictures {
  .index {
    background-color: cyan;
  }
}

.posts {
  .index {
    background-color: orange;
  }
  .show {
    background-color: black;
  }
}

.treatments {
  .index {
    background-color: orange;
  }
  .show {
    background-color: black;
  }
}
