@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,400i|Source+Sans+Pro:400,400i,600,600i,700,700i');

$breath-size: 75px;

$primary-blue: #0092FF;
$secondary-blue: cyan;

body {
  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 46pt;
  }
  h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 40pt;
  }
  h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 34pt;
  }
  h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 28pt;
  }
  h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 18pt;
  }
  p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 22pt;
  }
}

.attention-helper {
  max-width: 125px;
  border-color: $primary-blue;
  border-width: 5px;
}

.we-are-waiting-for-you {
  margin-top: $breath-size;
  margin-bottom: $breath-size;

  .title {
    margin: $breath-size/3 0px $breath-size/3 0px;
  }
  .image {
    width: 100%;
  }
}

.schedule-now {
  margin-top: $breath-size;
  margin-bottom: $breath-size;

  .title {
    margin: $breath-size/3 0px $breath-size/3 0px;
  }
  form {
    .name {
    }
    .email {
    }
    .date {
    }
    .btn {
      width: 100%;
    }
  }
}

.before-and-after-sets {
  margin-top: $breath-size;
  margin-bottom: $breath-size;

  .title, .suggester {
    margin: $breath-size/3 0px $breath-size/3 0px;
  }

  .primary-before-and-after-set {
    .image {
      width: 100%;
    }
  }
  .secondary-before-and-after-sets {
    .secondary-before-and-after-set {
      .image {
        width: 100%;
      }
    }
  }
}

.working-hours {
  ul {
    padding-left: 0px;
  }

  .title {
  }
  .days-time-ranges-wrapper {
    margin-left: 0px;


    .days {
      text-align: right;

      .day {
        direction: rtl;

        list-style: none;
      }
    }
    .time-ranges {
      .time-range {
        list-style: none;
      }
    }
  }
  .phone-numbers {
    .phone-number {
      margin: 10px;
      list-style: none;
    }
    .flag {
      width: 20px;
      height: 20px;
    }
  }
  .email-addresses {
    .email-address {
      list-style: none;
    }
  }
}

.talk-with-us {
}

.pages {
  .home {
    .billboard {
      margin-bottom: $breath-size;

      .explainer-video {
        width: 100%;
        height: 100%;
      }
      .talk-with-us {
        form {
          label {
          }
          input {
          }
        }
      }
    }
    .featured-in {
      margin-top: $breath-size;
      margin-bottom: $breath-size;

      .title {
        margin: $breath-size/3 0px $breath-size/3 0px;
      }
      .image {
      }
    }
    .clients {
      margin-top: $breath-size;
      margin-bottom: $breath-size;

      .title {
        margin: $breath-size/3 0px $breath-size/3 0px;
      }
      .client {
        padding: $breath-size/4;

        .image {
          width: 100%;
        }
      }
    }
  }
  .about-us {
    background-color: green;
  }
  .contact-us {
    background-color: yellow;
  }
  .price-list {
    background-color: blue;
  }
  .schedule-appointment-primary {
    background-color: purple;
  }
  .schedule-appointment-secondary {
    background-color: pink;
  }
  .the-team {
    background-color: white;
  }
  .virtual-tour {
    background-color: brown;
  }
}

.pictures {
  .index {
    background-color: cyan;
  }
}

.posts {
  .index {
    background-color: orange;
  }
  .show {
    background-color: black;
  }
}

.treatments {
  .index {
    background-color: orange;
  }
  .show {
    background-color: black;
  }
}
