<p>Hello <%= @lead.person_name %></p>

<p>Thanks <%= @lead.person_name.titleize %> for your appointment on <%= @lead.preferred_date.strftime("%A, %B %d, %Y")%>.</p>
<p>You will be contacted by Tijuana Smile Dentistry within the next 24 hours to confirm the exact time of your appointment.</p>
<p>If you require booking flights or need to finalize your travel arrangements, please confirm your travel dates back to us as soon as possible so we may confirm your appointment.</p>

<p>Sincerely</p>
<p>Verenice Orduño</p>
<p>Baja Smile Dentistry</p>
